{
  "ConnectionStrings": {
    "BrighterInbox": ""
  },
  "RabbitMQ": {
    "AmqpUri": ""
  },
  "RabbitMqSettings": {
    "HostName": "",
    "Port": "5672",
    "Username": "",
    "Password": "",
    "ClientProvidedName": ""
  },
  "AzureServiceBus": {
    "ConnectionString": ""
  }
}
